<ul>
{% if Logeado %}
<li><a href="/ind/{{ usuariod }}">Home</a></li>
<li><a href="/salir/{{ usuariod }}">Salir</a></li>
<li>Usuario</li>
<li>{{ usuario }}</li>
<li>{{ usuariod }}</li>
{% else %}
<li><a href="/">Home</a></li>
<li><a href="/registro">Registro</a></li>
<li><a href="/Inicio">Inicion Sesion</a></li>
<li><a href="/admin">Admin</a></li>
{% endif %}

</ul>
<p>Grupo: </p>
{{ nombre }}
{% if hay_integrante %}
<p>Integrantes:</p>
    <ul>
    {% for post in integrantes %}
        <li>{{ post.nombre }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay integrantes</p>
{% endif %}

<p>Genero : </p>
{{ g }}

{% if hay_album %}
<p>Albums: </p>
    <ul>
    {% for post in album %}
        <li>{{ post.nombre }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay albums</p>
{% endif %}

{% if hay_post %}
<p>Posts: </p>
    <ul>
    {% for post in post %}
        <li><a href="/post/{{ post.id_post }}/{{ usuariod }}">{{ post.titulo }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay posts</p>
{% endif %}


<p>Fecha de Creacion:</p>
{{ fecha }}