<ul>
{% if Logeado %}
<li><a href="/rSocial/ind/{{ usuario }}">Home</a></li>
<li>En sesion como:</li>
<li>{{ nombre }}</li>
<li><a href="/rSocial/salir/{{ usuario }}">Salir</a></li>
{% else %}
<li><a href="/rSocial">Home</a></li>
<li><a href="/rSocial/registro">Registro</a></li>
<li><a href="/rSocial/Inicio">Inicion Sesion</a></li>
<li><a href="/admin">Admin</a></li>
{% endif %}
</ul>

<h1>Posts</h1>
{% if hay_posts %}
    <ul>
    {% for post in post_list %}
        <li><a href="/rSocial/post/{{ post.id_post }}/{{ usuario }}">{{ post.titulo }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay posts</p>
{% endif %}
<h1>Grupos</h1>
{% if hay_grupos %}
    <ul>
    {% for group in group_list %}
        <li><a href="/rSocial/banda/{{ group.id_grupo }}/{{ usuario }}">{{ group.nombre }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay grupos</p>
{% endif %}

